@charset "utf-8";
/* CSS Document */
@media screen and (min-width:768px){
	#baiviet{
		padding-top:50px;
		padding-bottom:40px;
	}
	.mg30{
		margin:0 auto;
	}
	header .left{
		padding-top:15%;
		font-size:36px;
		font-weight:bold;
	}
}

 .left{
	font-size:24px;
}
body {
	font-family: "Segoe UI", "Segoe UI Black", "Segoe UI Light", Arial, sans-serif;
	position:relative;
}
.fanpage{
	margin-top:50px;
}
.bvlq{
	margin-top:50px;
}
.bvlq a{
	color:#000;
}
.bvlq a:hover{
	opacity:0.7;
}
.background{
	background-image:url(../images/tuyen-dung.png);
	background-repeat:no-repeat;
	background-position:bottom right;
}
.portfolio-item {
    margin-bottom: 25px;
}
.fz18{
	font-size:18px;
}
.fz16{
	font-size:16px;
}
.my-modal{
	color:#29bd54;
	font-size:18px;
}
.mycolor{
	color:#29bd54;
}
.my-page ul a{
	color:#29bd54;
	font-weight:bold;
}
.modal-title {
	text-align: center;
	text-transform:uppercase;
}
hr {
	border-color: #f5f5f5;
  	border-width: 3px;
  	max-width: 500px;
}
.btn {
	color: #fff;
	background-color: #29bd54;
	border: solid 2px #fff;
}
.mybtn{
	width:150px;
	padding:10px;
	border-radius:300px;
	-webkit-border-radius:300px;
	-ms-border-radius:300px;
	margin-top:10px;
	font-weight:500;
}
.mybtn2:hover{
	color: #000;
	border: 2px solid #29bd54;
	background-color: #fff;
}
.mybtn:focus,
.mybtn:hover{
	color: #000;
	border: 2px solid #29bd54;
	background-color: #fff;
}
a:hover,
a:focus{
	text-decoration:none;
}
.stick {
	margin-top:100px;
	position: fixed;
	top: 0;
}
/*css cho trang chủ*/
/*css cho nav*/
.navbar-default {
	height: 75px;
	background-color: #fff;
}
.navbar-default .navbar-brand {
	color: #29bd54;
	font-size: 25px;
}
.navbar-default .navbar-brand img {
	float: left;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
	color: #29bd54;
}
.navbar-default .navbar-collapse {
	background-color: #fff;
}
.navbar-collapse {
	margin-top: 10px;
}
.navbar-default .navbar-right li a {
	color: #29bd54;
	font-weight: bold;
	font-size: 15px;
	opacity: 0.65;
}
.navbar-default .navbar-right li a:focus, .navbar-default .navbar-right li a:hover {
	color: #29bd54;
	opacity: 1;
}
.glyphicon-align-justify {
	font-size: 20px;
	color: #29bd54;
}
/*css cho header*/
header {
	width: 100%;
	height: 300px;
	background-color: #29bd54;
}
.btn-video{
	margin-top:75px;
}
.btn-video:hover,
.btn-video:active,
.btn-video:focus{
	color: #29bd54;
	background-color: #fff;
	border: solid 2px #29bd54;
}
/*css cho gioithieu*/
#gioithieu {
	padding-top: 80px;
	padding-bottom: 60px;
}
/*css cho loiich*/
#loiich {
	padding-bottom: 50px;
}
/*css cho quytrinh*/
#quytrinh {
	padding-top: 60px;
	padding-bottom:45px;
	background-color: #29bd54;
	color: #fff;
}
#quytrinh img {
	border-radius: 10px;
}
/*css lienhe*/
#lienhe {
	padding: 40px;
}
.floating-label-form-group {
	position: relative;
	margin-bottom: -5px;
	border-bottom: 1px solid #29bd54;
}
.floating-label-form-group input, .floating-label-form-group textarea {
	z-index: 1;
	position: relative;
	padding-right: 0;
	padding-left: 0;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	background: 0 0;
	box-shadow: none!important;
	resize: none;
}
.floating-label-form-group input{
	height:30px;
}
.floating-label-form-group textarea {
	height:100px;
}
.floating-label-form-group label {
	display: block;
	z-index: 0;
	position: relative;
	top: 2em;
	margin: 0;
	font-size: 14px;
	line-height: 1.764705882em;
	vertical-align: middle;
	vertical-align: baseline;
	opacity: 0;
	-webkit-transition: top .3s ease, opacity .3s ease;
	-moz-transition: top .3s ease, opacity .3s ease;
	-ms-transition: top .3s ease, opacity .3s ease;
	transition: top .3s ease, opacity .3s ease;
}
 .floating-label-form-group::not(:first-child) {
 padding-left: 14px;
 border-left: 1px solid #29bd54;
}
.floating-label-form-group-with-value label {
	top: 0;
	opacity: 1;
}
.floating-label-form-group-with-focus label {
	color: #29bd54;
}
.btn-send {
	width: 200px;
	margin-top:30px;
}
.btn-send:hover, .btn-send:focus, .btn-send:active {
	color: #000;
	border: 2px solid #29bd54;
	background-color: #fff;
}
/*kết thúc css cho trang chủ*/
/*css cho bài viết*/
.btn-rm{
	border:0;
	background-color:#fff;
	color:#428bca;
}
.btn-rm:hover,
.btn-rm:active,
.btn-rm:focus{
	color:#428bca;
	font-weight:bold;
}
#top-link-block.affix-top {
    position: absolute; 
    bottom: 50px; 
    right: 10px;
}
#top-link-block.affix {
    position: fixed; 
    bottom: 90px; 
    right: 10px;
}