/*breakpoint 736px*/
@media screen and (max-width: 736px) {
	html, body{
		width: 100%;
		font-size: 11px;
	}
	hr{
		width: 270px;
	}
	#header{
		width: 100%;
	}
	#header .menu{
		width: 100%;
		margin-top: 10px;
	}
	#header .menu .menu-top .logo{
		margin-top: 0;
	}
	#header .menu .menu-top .social-icon{
		display: none;
	}
	#header .menu .menu-top .logo{
		display: none;
	}
	#header .menu .menu-top .logo-smp{
		display: block;
		margin: auto;
		width: 88px;
	}
	#header .menu .menu-top .logo-smp img{
		width: 100%;
	}
	#header .menu .menu-top .menu-icon{
		display: block;
	}
	#header nav{
		display: none;
	}
	.slider{
		margin-top: 84px;
		width: 100%;
	}
	.slide-inner{
		height: auto;
	}
	.slide-inner img{
		width: 100%;
	}
	.prev, .next {
	  margin-top: -50px;
	}
	.dot-bar{
		margin-top: 5px;
	}
	.dot{
		width: 6px;
		height: 6px;
	}
	.img-pc{
		display: none;
	}
	.img-smp{
		display: block;
	}
	.head-title{
		padding-bottom: 6px;
	}
	.head-title .long-title{
		width: 75%;
	}
	.banner{
		margin-top: 85px;
		height: auto;
	}
	.breadcrumb{
		display: none;
	}
	#main{
		max-width: 270px;
		padding-top: 25px;
	}
	#main .news-content{
		width: 100%;
		padding-top: 18px;
	}
	#main .news-content .news-img{
		width: 100%;
	}
	#main .news-content .news-info{
		width: 100%;
		padding-left: 0;
	}
	#main .mess{
		width: 100%;
		height: auto;
		background-color: #000;
	}
	#main .mess img{
		width: 100%;
	}
	#main .mess .mess-quote{
		position: relative;
		margin-top: -75%;
		width: 100%;
		padding:0 16px;
	}
	#main .mess .name-sign{
		padding: 30px 90px;
	}
	#main .concept{
		width: 100%;
	}
	#main .concept .concept-info{
		width: 100%;
	}
	#main .concept .concept-img,
	#main .concept .concept-img img{
		width: 100%;
	}
	#access{
		width: 100%;
		padding: 80px 0;
		margin-top: 46px;
	}
	#access .access{
		max-width: 270px;
	}
	#access .access .access-map img,
	#access .access .access-info img{
		width: 100%;
	}
	#access .access .access-map{
		width: 100%;
		padding-bottom: 22px;
	}
	#access .access .access-info{
		width: 100%;
		padding: 0;
	}
	#access .access .access-info p{
		padding-top: 20px;
	}
	#footer{
		max-width: 270px;
		padding: 20px 0;
	}
	#footer .lang{
		font-size: 11px;
		padding: 16px 0;
	}
	#footer .copyright{
		font-size: 7px;
		text-transform: none;
	}
	.btn-map{
		color: #fff;
		display: block;
		background: url(../images/smp/view_googlemap.png);
		background-repeat: no-repeat;
		padding: 3px 15px;
		background-size: contain;
	}
	
}